RewriteEngine On


RewriteRule ^admin/$ admin/index.php
RewriteRule ^admin$ admin/index.php

RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/[a-zA-Z0-9\-]+/$ index.php?page=$1&pid=$2 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/[a-zA-Z0-9\-]+$ index.php?page=$1&pid=$2 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/$ index.php?page=$1&pid=$2 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?page=$1&pid=$2 [L]

RewriteRule ^([a-zA-Z0-9\-]+)/$ index.php?page=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?page=$1 [L]